.form-control{
    padding: 0.175rem 0.75rem ;
}

select.form-control:not([size]):not([multiple]){
    height: 35px ;
}

.form-group{
    display: flex;
    order: 2;
    flex-wrap: wrap;
    &.text-right{
        justify-content: flex-end;
    }
    .control-label{
        order: 1;
    }

    input:not([type="submit"]):not(.custom){
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }


    >*{
     order: 2;   
    }
    .select2-container,
    .form-control{
        order: 2;
    }
    .error{
        order: 3;
    }
    .invalid-feedback{
        order: 4;
    }
    .input-date, .date{
        background-color: #fff;
    }
    //-------- VALIDATE
    label.error{
        font-size: 80%;
        color: #dc3545;
    }
    //-------- .select2
    .select2{
        &.select2-container{
            width: 100% !important;
            // .select2-selection{
            //     height: 38px;
            //     .select2-selection__rendered{
            //         line-height: 38px;
            //     }
            // }
        }
    }
}
