.select2-selection__rendered{
    .select2-search.select2-search--inline{
        width: 100%;
        input{
            width: 100% !important;
        }
    }
}


.select2-selection{
    height: 35px;
}





body.rtl .select2-container--default .select2-selection--single .select2-selection__arrow{
    left: 1px !important;
  }
  body.rtl .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding-right: 10px;
  }
  
  
  body.rtl .select2-container .select2-search--inline .select2-search__field{
      direction: rtl;
  }