$sidebar_width: 260;
$haeder_height: 65;

$sidebar_width_close: 50;

$blue: #7222a1;
$red: #ff4081;

$body_background: #f9f9f9;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html {
    height: 100%;
}
body {
    height: 100%;
    background: $body_background;
    font-family: 'Open Sans', sans-serif;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.footer-copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
    padding-left: $sidebar_width + 30 + px;
    padding-right: 20px;
    .close-menu & {
        padding-left: $sidebar_width_close+20+px;
    }
}
.layout {
    padding-left: $sidebar_width + 30 + px;
    padding-right: 20px;
    padding-top: $haeder_height + 20 + px;
    height: 100%;
    transition: .2s;
    .close-menu & {
        padding-left: $sidebar_width_close+20+px;
    }
    &::before {
        content: "";
        height: 200px;
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        // background: $blue;
        background: linear-gradient(266deg, #303f9f, #7b1fa2);
        background-size: 400% 400%;
        animation: AnimationName 10s ease infinite;
    }
    .main {
        // background: #fff;
    }
    .page-header {
        color: #ffffffd9;
        font-size: 21px;
    }
}
.header {
    padding-left: $sidebar_width + 30 + px;
    padding-right: 30px;
    position: fixed;
    // margin-left: -30px;
    // margin-right: -30px;
    width: 100%;
    height: $haeder_height + px;
    background: linear-gradient(266deg, #303f9f, #7b1fa2);
    background-size: 400% 400%;
    animation: AnimationName 10s ease infinite;
    align-items: center;
    color: #fff;
    display: flex;
    z-index: 100;
    transition: .2s;
    .close-menu & {
        padding-left: $sidebar_width_close+20+px;
    }

    .navbar-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: #fff;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }
    .header-search-input {
        background: rgba(230, 230, 230, 0.3);
        border: 1px solid hsla(0, 0%, 90.2%, 0.05);
        border: 0 !important;
        color: #fff;
        &::placeholder {
            color: #eee;
        }
        &:hover {
            background: rgba(230, 230, 230, 0.1);
            border: 1px solid rgba(230, 230, 230, 0.1);
        }
    }
}

.main-nav {
    display: block;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        display: block;
        &.open {
            background: rgba(0, 0, 0, 0.05);
        }
        a {
            padding: 5px 15px;
            display: block;
            color: #6b6f82;
            text-decoration: none;
            .text {
                transition: .2s;
                .close-menu & {
                    display: none;
                    // opacity: 0;
                    // visibility: hidden;
                }
            }
            .icon {
                color: #6b6f82;
            }
        }
            &:hover {
                > a{
                    background: rgba(0, 0, 0, 0.035) !important;
                }
            }

        ul {
            display: none;
            a {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
.close-menu {
    .main-nav {
        // > ul > li > a {
        //     text-align: center;
        // }
        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
        .dropdown {
            &:hover {
                ul {
                    opacity: 1;
                    visibility: visible;
                }
            }
            > ul {
                box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.07);
                transition: 0.1s;
                display: block !important;
                position: absolute;
                left: $sidebar_width_close+px;
                width: 300px;
                background: #fff;
                top: 0;
                opacity: 0;
                visibility: hidden;
                a {
                    .text {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.sidebar {
    position: fixed;
    width: $sidebar_width + px;
    left: 0;
    top: 0;
    background: #fff;
    height: 100%;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    z-index: 200;
    transition: .2s;
    .close-menu & {
        width: $sidebar_width_close+px;
    }

    .header-sidebar {
        height: $haeder_height + px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        .navbar-brand {
            // padding: 0 15px;
            display: block;
            overflow: hidden;
            transition: .2s;
            .close-menu & {
                // display: none;
                width: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .main-nav-toggle {
            margin-right: -15px;
            margin-left: -15px;
            height: 100%;
            width: $haeder_height + px;
            border: 0;
            transition: 0.1s;
            cursor: pointer;
            background: #fff;
            &:hover {
                // background: $blue;
                color: $blue;
                border-radius: 2px;
            }
        }
    }
}

.card {
    border: 0;
    box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    // border-radius: 10px;
    border-radius: 0;
    margin-bottom: 50px;
    overflow: hidden;
    // padding: 25px;
    .card-header {
        // border-left: solid 4px $blue;
    }
}



// ================================== ** Start Button
.btn {
    display: inline-flex;
    align-items: center;
    border: 0 ;
    i,
    svg {
        margin: 0 5px 0 0;
    }
}

.btn.btn-sm{
    height: 35px;
}


.btn {
    // box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    border-radius: 0;
}

.btn.btn-success {
    color: #fff !important;
    background-color: #43a047;
}
.btn.btn-primary,
.btn.btn-info {
    color: #fff !important;
    background-color: #9c27b0;
}
.btn.btn-danger {
    color: #fff !important;
    background-color: #ff4081;
}
.btn.btn-warning {
    color: #fff !important;
    background-color: #ff6f00;
}


/* ----------------------- btn effect */
.btn span{
    line-height: 1;
}
.btn{
  text-decoration:none;
  position:relative;
  overflow:hidden;
  transition: all 0.2s ease;
  z-index:0;
}
.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation:ripple 0.65s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}


// ================================== ** End Button




.page-header {
    /* font-size: 28px; */
    /* font-weight: normal; */
    //   color: #633b8c;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    position: relative;
}

.page-header:before {
    content: attr(mytitle);
    font-size: 110px;
    position: absolute;
    font-weight: bolder;
    z-index: -1;
    color: #edf0f2;
    bottom: -30px;
    left: 0;
    color: rgba(255, 255, 255, 0.05);
    /* color: transparent; */
    z-index: -1;
    // -webkit-text-stroke: 1px;
    // -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
}

.rtl .page-header:before {
    left: auto;
    right: 0;
}

.dt-bootstrap4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .dt-buttons {
        width: 100%;
    }
    .table th {
        padding: 0.75rem;
        font-weight: 400;
    }
    .table{
        &.collapsed{
            tbody tr td:last-child{
                transition-delay: 0s;
                opacity: 1;
                visibility: visible;
                transform: translate(0);
            }
        }
        tbody tr {
            td {
                font-weight: 300;
                padding: 0.5rem;
                &:last-child {
                    transition: 0.2s;
                    transform: translate(50px);
                    opacity: 0;
                    // visibility: hidden;
                    transition-delay: .2s;
                    a{
                        margin: 0 4px;
                    }
                }
            }
            &:hover {
                td {
                    &:last-child {
                        transition-delay: 0s;
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0);
                    }
                }
            }
            &.selected {
                td {
                    &:last-child {
                        transition-delay: 0s;
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0);
                        *{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 0;
        border: 0;
        background: transparent;
        cursor: pointer;
        &.text-danger {
        }
    }
    .btn-group{
        .btn{
            margin: 0 10px;
            &:last-child{
                margin-right: 0;
                .rtl &{
                    margin-right: 10px;
                    margin-left: 0;
                }
            }
            &:first-child{
                margin-left: 0;
                .rtl &{
                    margin-right: 0;
                    margin-left: 10px;
                }

            }
        }
    }
}
button{
    outline: 0 !important;
}

// ----------------------- input
.form-group{
    display: flex;
    order: 2;
    flex-wrap: wrap;
    &.text-right{
        justify-content: flex-end;
    }
    .control-label{
        order: 1;
    }
    .select2-container,
    .form-control{
        order: 2;
    }
    .error{
        order: 3;
    }
    .invalid-feedback{
        order: 4;
    }
    .input-date, .date{
        background-color: #fff;
    }
    //-------- VALIDATE
    label.error{
        font-size: 80%;
        color: #dc3545;
    }
    //-------- .select2
    .select2{
        &.select2-container{
            width: 100% !important;
            // .select2-selection{
            //     height: 38px;
            //     .select2-selection__rendered{
            //         line-height: 38px;
            //     }
            // }
        }
    }
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
  color: #555;
}
.select2-container .select2-selection--single,
input.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  height: 35px;
  color: #555;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 35px;
}
.form-control{
    height: 35px;
}



@import 'sass/material_input';


.row-margin-5{
    margin-left: -5px;
    margin-right: -5px;
    [class^='col-']{
        padding-right: 5px;
        padding-left: 5px;
    }
}


.alert {
    position: fixed;
    z-index: 100;
    right: 20px;
    min-width: 360px;
    bottom: 0;
    transform: translateX( calc(100% + 40px) );
    transition: .3s;
    transition-timing-function: cubic-bezier(0.03, 0.4, 0.27, 1.2);
    color: #fff;
    padding-top: 30px;
    .close{
        color: #fff;
        font-size: 11px;
        position: absolute;
        right: 15px;
        top: 15px;
        &:hover{
            color: #fff !important;
        }
    }
    &.show{
        transform: translateX(0);
    }
    &.bg-danger{
        background: rgba($color: $red, $alpha: 0.7) !important;
    }
}





.profile-avatar{
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #30a5ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
