@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSansWeb_Bold.eot");
  src: url("../fonts/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSansWeb_Light.eot");
  src: url("../fonts/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/IRANSansWeb_Light.woff") format("woff"), url("../fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSansWeb.eot");
  src: url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSansWeb.ttf") format("truetype");
}

body.rtl {
  font-family: "IRANSans" !important;
  line-height: 1.5;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
}

body.rtl {
  direction: rtl;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.footer-copyright {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding-left: 290px;
  padding-right: 20px;
}

.rtl .footer-copyright {
  padding-left: 20px;
  padding-right: 290px;
}

.close-menu .footer-copyright {
  padding-left: 70px;
}

.rtl.close-menu .footer-copyright {
  padding-right: 70px;
  padding-left: 20px;
}

.layout {
  padding-left: 290px;
  padding-right: 20px;
  padding-top: 85px;
  height: 100%;
  -webkit-transition: .2s;
  transition: .2s;
}

.rtl .layout {
  padding-left: 20px;
  padding-right: 290px;
}

.close-menu .layout {
  padding-left: 70px;
}

.rtl.close-menu .layout {
  padding-right: 70px;
  padding-left: 20px;
}

.layout::before {
  content: "";
  height: 200px;
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(266deg, #303f9f, #7b1fa2);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
          animation: AnimationName 10s ease infinite;
}

.layout .page-header {
  color: #ffffffd9;
  font-size: 21px;
}

.header {
  padding-left: 290px;
  padding-right: 30px;
  position: fixed;
  width: 100%;
  height: 65px;
  background: linear-gradient(266deg, #303f9f, #7b1fa2);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 10s ease infinite;
          animation: AnimationName 10s ease infinite;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  -webkit-transition: .2s;
  transition: .2s;
}

.rtl .header {
  padding-left: 30px;
  padding-right: 290px;
}

.close-menu .header {
  padding-left: 70px;
}

.rtl.close-menu .header {
  padding-right: 70px;
  padding-left: 20px;
}

.header .navbar-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-header a {
  color: #fff;
}

.header .navbar-header .dropdown-toggle::after {
  display: none;
}

.header .header-search-input {
  background: rgba(230, 230, 230, 0.3);
  border: 1px solid rgba(230, 230, 230, 0.05);
  border: 0 !important;
  color: #fff;
}

.header .header-search-input::-webkit-input-placeholder {
  color: #eee;
}

.header .header-search-input:-ms-input-placeholder {
  color: #eee;
}

.header .header-search-input::-ms-input-placeholder {
  color: #eee;
}

.header .header-search-input::placeholder {
  color: #eee;
}

.header .header-search-input:hover {
  background: rgba(230, 230, 230, 0.1);
  border: 1px solid rgba(230, 230, 230, 0.1);
}

.main-nav {
  display: block;
}

.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav li {
  display: block;
}

.main-nav li.open {
  background: rgba(0, 0, 0, 0.05);
}

.main-nav li a {
  padding: 5px 15px;
  display: block;
  color: #6b6f82;
  text-decoration: none;
}

.main-nav li a .text {
  -webkit-transition: .2s;
  transition: .2s;
}

.close-menu .main-nav li a .text {
  display: none;
}

.main-nav li a .icon {
  color: #6b6f82;
}

.main-nav li:hover > a {
  background: rgba(0, 0, 0, 0.035) !important;
}

.main-nav li ul {
  display: none;
}

.main-nav li ul a {
  background: rgba(0, 0, 0, 0.05);
}

.close-menu .main-nav .dropdown-toggle::after {
  display: none;
}

.close-menu .main-nav .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
}

.close-menu .main-nav .dropdown > ul {
  -webkit-box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 2px 4px 7px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: block !important;
  position: absolute;
  left: 50px;
  width: 300px;
  background: #fff;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.close-menu .main-nav .dropdown > ul a .text {
  display: inline-block;
}

.sidebar {
  position: fixed;
  width: 260px;
  left: 0;
  top: 0;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  -webkit-transition: .2s;
  transition: .2s;
}

.rtl .sidebar {
  left: auto;
  right: 0;
}

.close-menu .sidebar {
  width: 50px;
}

.sidebar .header-sidebar {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.sidebar .header-sidebar .navbar-brand {
  display: block;
  overflow: hidden;
  -webkit-transition: .2s;
  transition: .2s;
}

.close-menu .sidebar .header-sidebar .navbar-brand {
  width: 0;
  margin-left: 0;
  margin-right: 0;
}

.sidebar .header-sidebar .main-nav-toggle {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
  width: 65px;
  border: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  background: #fff;
}

.sidebar .header-sidebar .main-nav-toggle:hover {
  color: #7222a1;
  border-radius: 2px;
}

.card {
  border: 0;
  -webkit-box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
  overflow: hidden;
}

.card .card-header {
  padding: 15px 30px;
}

.card .card-header h3 {
  margin-bottom: 0;
}

.card .card-body {
  padding: 30px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 3px;
}

.btn i,
.btn svg {
  margin: 0 5px 0 0;
}

.btn.btn-sm {
  height: 35px;
}

.btn.btn-success {
  color: #fff !important;
  background-color: #43a047;
}

.btn.btn-primary,
.btn.btn-info {
  color: #fff !important;
  background-color: #9c27b0;
}

.btn.btn-danger {
  color: #fff !important;
  background-color: #ff4081;
}

.btn.btn-warning {
  color: #fff !important;
  background-color: #ff6f00;
}

/* ----------------------- btn effect */
.btn span {
  line-height: 1;
}

.btn {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
}

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.animate {
  -webkit-animation: ripple 0.65s linear;
          animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

.page-header {
  /* font-size: 28px; */
  /* font-weight: normal; */
  margin-top: 30px !important;
  margin-bottom: 10px !important;
  position: relative;
}

.page-header:before {
  content: attr(mytitle);
  font-size: 110px;
  position: absolute;
  font-weight: bolder;
  z-index: -1;
  color: #edf0f2;
  bottom: -30px;
  left: 0;
  color: rgba(255, 255, 255, 0.05);
  /* color: transparent; */
  z-index: -1;
}

.rtl .page-header:before {
  left: auto;
  right: 0;
}

.dt-bootstrap4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dt-bootstrap4 .dt-buttons {
  width: 100%;
}

.dt-bootstrap4 .table th {
  padding: 0.75rem;
  font-weight: 400;
}

.dt-bootstrap4 .table.collapsed tbody tr td:last-child {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.dt-bootstrap4 .table tbody tr td {
  font-weight: 300;
  padding: 0.5rem;
}

.dt-bootstrap4 .table tbody tr td:last-child {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(50px);
          transform: translate(50px);
  opacity: 0;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.dt-bootstrap4 .table tbody tr td:last-child a {
  margin: 0 4px;
}

.dt-bootstrap4 .table tbody tr td:first-child {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.dt-bootstrap4 .table tbody tr:hover td:last-child {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.dt-bootstrap4 .table tbody tr.selected td:last-child {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.dt-bootstrap4 .table tbody tr.selected td:last-child * {
  fill: #fff;
}

.dt-bootstrap4 button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.dt-bootstrap4 .btn-group .btn {
  margin: 0 10px;
}

.dt-bootstrap4 .btn-group .btn:last-child {
  margin-right: 0;
}

.rtl .dt-bootstrap4 .btn-group .btn:last-child {
  margin-right: 10px;
  margin-left: 0;
}

.dt-bootstrap4 .btn-group .btn:first-child {
  margin-left: 0;
}

.rtl .dt-bootstrap4 .btn-group .btn:first-child {
  margin-right: 0;
  margin-left: 10px;
}

button {
  outline: 0 !important;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group.text-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-group .control-label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form-group .select2-container,
.form-group .form-control {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.form-group .error {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.form-group .invalid-feedback {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.form-group .input-date, .form-group .date {
  background-color: #fff;
}

.form-group label.error {
  font-size: 80%;
  color: #dc3545;
}

.form-group .select2.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
  color: #555;
}

.select2-container .select2-selection--single,
input.form-control {
  border: 1px solid #ccc;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 35px;
  color: #555;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 35px;
}

.form-control {
  height: 35px;
}

.row-margin-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.row-margin-5 [class^='col-'] {
  padding-right: 5px;
  padding-left: 5px;
}

.alert {
  position: fixed;
  z-index: 100;
  right: 20px;
  min-width: 360px;
  bottom: 0;
  -webkit-transform: translateX(calc(100% + 40px));
          transform: translateX(calc(100% + 40px));
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: cubic-bezier(0.03, 0.4, 0.27, 1.2);
          transition-timing-function: cubic-bezier(0.03, 0.4, 0.27, 1.2);
  color: #fff;
  padding-top: 30px;
}

.rtl .alert {
  right: auto;
  left: 20px;
}

.alert .close {
  color: #fff;
  font-size: 11px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.alert .close:hover {
  color: #fff !important;
}

.alert.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.alert.bg-danger {
  background: rgba(255, 64, 129, 0.7) !important;
}

.alert.bg-success {
  background: rgba(67, 160, 71, 0.7) !important;
}

.profile-avatar {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  background: #30a5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.ui-sortable .item {
  padding-left: 55px;
  position: relative;
}

.item {
  padding-right: 65px;
  border: solid 1px #e4e4e4;
  position: relative;
  padding-top: 15px;
  margin-bottom: 2px;
  background: #fff;
}

.sortable-header {
  padding-left: 55px;
  position: relative;
  padding-right: 65px;
}

.remove-item {
  position: absolute;
  right: 15px;
  bottom: 1rem;
  cursor: pointer;
  height: 35px;
  /* border-radius: 50%; */
  background: #e4e4e4 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* color: #000 !important; */
  border: solid 1px #ced4da;
  color: #ff4081 !important;
}

.rtl .remove-item {
  right: auto;
  left: 15px;
}

.remove-item svg {
  margin: 0;
}

.ui-sortable .item::before {
  content: '';
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  background-image: url("data:image/svg+xml,%0A%3Csvg height='40' viewBox='-149 0 512 512.10667' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m170.71875 256.105469c0 35.347656-28.652344 64-64 64-35.34375 0-64-28.652344-64-64 0-35.34375 28.65625-64 64-64 35.347656 0 64 28.65625 64 64zm0 0'/%3E%3Cpath d='m192.054688 362.773438h-170.667969c-11.753907 0-21.3320315 9.578124-21.3320315 21.332031 0 4.03125 1.0664065 7.832031 3.2851565 11.5625.382812.640625.808594 1.261719 1.277344 1.835937l86.570312 108.03125c4.269531 4.246094 9.773438 6.570313 15.53125 6.570313 5.761719 0 11.265625-2.324219 16.769531-7.914063l85.332031-106.667968c.46875-.574219.898438-1.214844 1.28125-1.832032 2.21875-3.753906 3.285157-7.554687 3.285157-11.585937 0-11.753907-9.578125-21.332031-21.332031-21.332031zm0 0'/%3E%3Cpath d='m21.386719 149.441406h170.667969c11.753906 0 21.332031-9.578125 21.332031-21.335937 0-4.03125-1.066407-7.828125-3.285157-11.5625-.382812-.640625-.8125-1.257813-1.28125-1.832031l-86.570312-108.035157c-8.53125-8.445312-21.289062-9.8125-32.296875 1.367188l-85.335937 106.667969c-.46875.574218-.894532 1.214843-1.277344 1.832031-2.21875 3.734375-3.2851565 7.53125-3.2851565 11.5625 0 11.757812 9.5781245 21.335937 21.3320315 21.335937zm0 0'/%3E%3C/svg%3E");
  bottom: 0;
  cursor: move;
  opacity: .3;
  height: 100%;
  background-color: #e4e4e4;
  width: 40px;
  border-right: solid 1px #c3c3c3;
}

.ui-sortable .item::before:hover {
  opacity: .5;
}

.rtl .ui-sortable .item::before {
  right: 0;
  left: auto;
  border-right: 0;
  border-left: solid 1px #c3c3c3;
}

.plus {
  width: 100%;
  background: #e4e4e4;
  color: #7222a1;
  text-align: center;
  margin-top: 30px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-margin-15 {
  margin-right: -7.5px;
  margin-left: -7.5px;
}

.row-margin-15 [class^="col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.select2-selection__rendered .select2-search.select2-search--inline {
  width: 100%;
}

.select2-selection__rendered .select2-search.select2-search--inline input {
  width: 100% !important;
}

.select2-selection {
  height: 35px;
}

body.rtl .select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px !important;
}

body.rtl .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-right: 10px;
}

body.rtl .select2-container .select2-search--inline .select2-search__field {
  direction: rtl;
}

.tab-content {
  margin-top: -75px;
}
/*# sourceMappingURL=amaj.css.map */