.form-group{
    margin-top: 20px;
    .select2-container--default,
    .form-control {
        border: 0 !important;
        border-bottom: solid 1px #ccc !important;
        border-radius: 0 !important;
        color: #000;
        &:placeholder-shown,
        &.focus {
            ~ .control-label {
                transform: translateY(0);
                font-size: 80%;
            }
        }
        // &:valid ,
        &:focus {
            outline: none  !important;
            box-shadow: none !important;
            border-bottom-color: $blue !important;
            ~ .control-label {
                transform: translateY(0);
                font-size: 80%;
                color: $blue;
            }
        }
        &.error{
            border-bottom-color: #dc3545 !important;
            color: #dc3545;
            ~ .control-label {
                color: #dc3545;
            }
        }


    }
    .control-label{
        transform: translateY(25px);
        transition: .2s;
        position: absolute;
        z-index: 10;
        top: 0;
        color: #9e9e9e;
        &.open{
            transform: translateY(0);
            font-size: 80%;
        }
        &.uploder-label{
            left: 130px;
        }
    }
}


.select2-container{

    .select2-selection{
        border: 0 !important;
        // border-bottom: solid 1px #ccc !important;
        border-radius: 0 !important;
    }
    ~ .control-label {
        transform: translateY(0);
        font-size: 80%;
        // color: $blue;
    }
}
.select2-selection__rendered{
    color: #000 !important;
}
.select2-selection__placeholder{
    color: #9e9e9e !important;
}
.select2-search__field{
    &::placeholder{
        color: #9e9e9e !important;
    }
}
:focus {
    outline: none !important;
}

